[Unit]
Description=Renew ShiBei TLS certificate twice daily

[Timer]
OnCalendar=*-*-* 03,15:17:00
RandomizedDelaySec=20m
Persistent=true
Unit=shibei-tls-renew.service

[Install]
WantedBy=timers.target
